@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* This won't be included in your compiled CSS unless you actually use it */
    .bottom-shadow {
        box-shadow:  -14px -14px 20px white, 0px 14px 20px #cbced1;
    }
    .outer-shadow-small {
        box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    }
    .inner-shadow{
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
    .convex{
        box-shadow:
    -10px -10px 30px #fff,
    10px 10px 30px #aeaec040,
    inset -10px -10px 10px #aeaec025,
    inset 10px 10px 10px #fff;
    }
    .concave{
        box-shadow:
        inset -10px -10px 10px #ffffff70,
        inset 10px 10px 10px #aeaec020;
    }
    #msg.owner{
        flex-direction: row-reverse;
    }
    #msg.owner p{
        background-color: #A798FF;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #msg.owner #message-content{
        align-items: flex-end;
    }
  }
